@import "tailwindcss";

:root {
  --background: #1b1d28;
  --foreground: #9ca3af;

  --primary: #92c5fd;
  --secondary-background: #2e303a;
  --error: #9c1a19;

  --lb-maroon: #780000;
  --lb-crimson: #9e1f19;
  --lb-gray: #8caba9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary-bg: var(--secondary-background);
  --color-error: var(--error);

  --color-lb-maroon: var(--lb-maroon);
  --color-lb-crimson: var(--lb-crimson);
  --color-lb-gray: var(--lb-gray);
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
